.Boxprice {
    background-color: antiquewhite;
    display: block;
}

.price_table_box {
    align-items: center;
    text-align: center;
    display: block;
}

.price_table_head {
    background-color: aqua;
    padding: 10px;
    margin: 10px;
}

.price_table_body {
    background-color: rgb(82, 82, 77);
    margin: 10px;
    padding: 10px;
}

.col-md-3.col-sm-6.col-xs-12.float-shadow {
    background-color: aquamarine;
}

.row {
    background-color: blueviolet;
}