
.container{
    background-color: gray;
    border-radius: 30px;
}
.box{
    background-color: gray;
    width: 500px;

    display: block;
    margin: auto;
    border: solid black;
}
.head{
    background-color: rgb(0, 110, 255);
    height: 50px;
    text-align: center;
}


.form {
    margin: 10px 10px 10px 10px;
}

