
.container{
    background-color: gray;
}
.box{
    background-color: gray;
    width: 500px;

    display: block;
    margin: auto;
    border: 50px;
}
.head h3{
    background-color: rgb(0, 110, 255);
    height: 50px;
    text-align: center;
}

.form {
    margin: 10px 10px 10px 10px;
}

