
.box{
    /* background-color: gray; */
    width: 325px;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: auto;
    border: solid black 1px;
}
.head h2{
    background-color: rgb(0, 174, 255);
    height: 40px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}


.form {
    margin: 0px 10px 0px 10px;
    font-size: 15px;
    text-align: center;
}

.form input{
    margin: -5px 0px -10px 0px;
    font-size: 15px;
    text-align: center;
}

.button .btn{
    margin: 0px 0px 10px 0px;
    font-size: 15px;
}



